<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Not present</title>
    <style>
         *{
  margin:0;
  padding:0;
  }
 body{

    background: url(https://images.unsplash.com/photo-1497005367839-6e852de72767?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHJvZ3Jlc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);




   font-family:sans-serif;
    }


    </style>
</head>
<body align="center">
<h2 >User doesn't exist</h2>
<a href="/learningplan/api/v1/signup">
    <i class='bx bx-coin-stack' ></i>
    <span class="links_name">please register here!
    </span></a>
</body>
</html>